.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom: 30px;
}
.addTask input{
    padding: 10px;
    border: 1px solid #24feee;
    border-radius: 10px;
    background-color: #25597a;
    outline: none;
    color: white;
}
.addTask button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25597a;
    color: #24feee;
    font-size: 30px;
    cursor: pointer;
    border: none;
}
@media (max-width: 768px) {
    .addTask {
        width: 98% !important;
        max-width: 600px;
        margin: 130px 1%  30px !important;
        font-size: 14px;
        padding:20px 0;
    }
    
}